/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-card {
    max-width: 800px;
    left: 30%;
    margin-left: -200px;
    margin-top: 40px;
    margin-bottom: 100px;
}