table {
  width: 60%;
  margin: 0 auto;
}

.container{
  margin: 0 auto;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.buttons{
  display: flex;
  align-items: center;
}

button {
  margin: 5px;
}

.cria-categoria{
  position: fixed;
  right: 80px;
  bottom: 60px;
}